<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apiUrl</key>
	<string>https://clp-accept-user.my-clay.com/v1.1</string>
	<key>apiPublicKey</key>
	<string>MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAEFYDlLVhKz+qNQIBASs322cib/iwnnuSWczXSvU8GGYB6pgZgaCroCywHMPclFRehVsB+jYRJd6n4zkhDSGd5bQ==</string>
	<key>redirectLogout</key>
	<string></string>
	<key>redirectLogin</key>
	<string></string>
	<key>clientId</key>
	<string></string>
	<key>issuer</key>
	<string>https://clp-accept-identityserver.my-clay.com</string>
</dict>
</plist>
